apiVersion: batch/v1
kind: Job 
metadata:
  name: job_name # placeholder: this will be replaced with the datajoint key when executing
spec:
  ttlSecondsAfterFinished: 120
  parallelism: 1 # Don't want to run the same key twice in parallel
  template:
    spec:
      restartPolicy: OnFailure
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
      hostNetwork: true # Allow the pod to use the host network for internet access
      affinity: 
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/role
                operator: NotIn # Key must not be in the following:
                values:
                - control-plane
              - key: kubernetes.io/hostname
                operator: NotIn
                values: 
                - jr-compute002
                - jr-compute004
          preferredDuringSchedulingIgnoredDuringExecution:
            - preference:
                matchExpressions:
                  - key: ramtype
                    operator: In
                    values:
                      - low
#                   - key: kubernetes.io/hostname
#                     operator: In
#                     values:
#                       - at-node10
#                       - at-node11
#                       - at-node12
#                       - at-node13
#                       - at-node14
#                       - at-node15
#                       - at-node16
#                       - at-node17
#                       - at-node18
#                       - at-node19
#                       - at-node20
#                       - at-node21
#                       - at-node22
#                       - at-node23
#                       - at-node24
#                       - at-node25
#                       - at-node26
#                       - at-node29
#                       - at-node3
#                       - at-node30
#                       - at-node31
#                       - at-node32
#                       - at-node33
#                       - at-node34
#                       - at-node35
#                       - at-node36
#                       - at-node39
#                       - at-node4
#                       - at-node40
#                       - at-node41
#                       - at-node42
#                       - at-node43
#                       - at-node44
#                       - at-node45
#                       - at-node46
#                       - at-node47
#                       - at-node48
#                       - at-node49
#                       - at-node5
#                       - at-node50
#                       - at-node6
#                       - at-node7
#                       - at-node8
              weight: 90
      containers:
      - name: container_name # placeholder: is programmatically replaced with value from table
        image: image_url # placeholder
        resources:
          requests:
            cpu: n_cpu # placeholder
            memory: memory # placeholder
            nvidia.com/gpu: n_gpu # placeholder
          limits:
            memory: mem_limit # placeholder
            nvidia.com/gpu: gpu_limit # placeholder
        env:
        - name: MY_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: DJ_PASS
          valueFrom:
            secretKeyRef:
              name: populate-service-credentials
              key: DJ_PASS
        - name: DJ_USER
          valueFrom:
            secretKeyRef:
              name: populate-service-credentials
              key: DJ_USER
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: populate-service-credentials
              key: GITHUB_TOKEN

        volumeMounts:
          - name: mnt-volume
            mountPath: /mnt/

        command: ["/bin/bash"]
        args: ["-c", 
          "git clone https://$(GITHUB_TOKEN)@github.com/nihpat19/connects_h01.git &&\
          export PYTHONPATH=/home/neurd/workspace/connects_h01:$ &&\
          git clone https://$(GITHUB_TOKEN)@github.com/nihpat19/connects_local_pipeline_runner.git &&\
          export PYTHONPATH=/home/neurd/workspace/connects_local_pipeline_runner/connects_local_pipeline_runner:${PYTHONPATH} &&\
          echo $PYTHONPATH &&\
          cd connects_local_pipeline_runner &&\
          pip install . &&\
          cd connects_local_pipeline_runner &&\
          python3 plumbing.py"]
      volumes:
        - name: mnt-volume
          hostPath:
            path: /mnt
            type: Directory